# Windows image file caches
Thumbs.db
ehthumbs.db

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Folder config file
Desktop.ini

# Microsoft Fakes
FakesAssemblies/

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# Project Files and Folders
obj/
bin/
packages/
artifacts/
.vs/
Backup/
UpgradeLog.htm
tools/
node_modules/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# SQL Server files
*.mdf
*.ldf

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ripple packages

# Vim files
*.swp
*.swo
